
services:

  web:
    build: .
    env_file:
      - .env
    command: >
      sh -c "python manage.py makemigrations && \
             python manage.py migrate && \
             gunicorn config.wsgi:application --bind 0.0.0.0:8003"

    volumes:
      - .:/app
    ports:
      - "8003:8003"
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:17
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 30s
      timeout: 10s
      retries: 5



volumes:
  postgres_data:
  static_volume: